$ff-primary: 'Roboto', sans-serif;
$clr-bg: #c8d6e5;
$clr-primary: #01a3a4;
$clr-secondary: #00d2d3;


// exercicio 'e-'
$e-clr-bg: #f5f6fa;
$e-clr-primary: #182C61;
$e-clr-btn-primary: #44bd32;

$e-mobile: 767px;
$e-tablet: 1023px;
